@import url(./reset.scss);
@import url(./variables.scss);

body {
  font: var(--f-body);
}

html,
body,
#__nuxt {
  height: 100%;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;

  @media (min-width: 768px) {
    padding: 20px 40px;
  }
}
